<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', href='/public/default.css')
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{mainCharacter.name}: #{story.title} 

    body
        div.header
            div.character-img 
                img(src=mainCharacter.thumbnail.path + '.' + mainCharacter.thumbnail.extension)

            div.character-content
                div.character-title 
                    b Character: 
                    span #{mainCharacter.name}

                div.story-title  
                    b Story: 
                    span #{story.title}
                div.story-description
                    b Description:

                    if (story.description !== null && story.description.length)
                        span #{story.description}
                    else
                        span The following story has no description
            div.marvel-text
                span #{mainCharacter.attributionText}


        div.content
            div.content-title  Characters:
            div.story-characters
                each character in characters
                    if (character.id !== mainCharacter.id)
                        div.character
                            div.character-title 
                                b #{character.name}

                            div.character-content
                                div.character-img 
                                    img(src=character.thumbnail.path + '.' + character.thumbnail.extension)

